body {
	padding-top: 70px;
	background-color: #f2f2f2;
}
.image {
    width: 100%;
    height: auto;
    padding: 0px 15px 5px 0px;
    float: left !important;
}
h1 {
  font-family: 'PT Sans Narrow', sans-serif;
}
#text{
	font-family: 'PT Sans Narrow', sans-serif;
  font-size:12pt;
}

p.navbar-text
{
  font-family: 'PT Sans Narrow', sans-serif;
  color: #004d1a !important; 
}
#footer
{
  font-family: 'PT Sans Narrow', sans-serif;
}

p.block {
	font-size: 125%;
	text-align: left;
}

/* Sticky Navbar css*/
#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}